* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.centrato {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration:none;
  color: #33475b;
}

.fas.fa-angle-down {
  font-size: 20px;
  vertical-align: middle;

}
/* bottoni */
.btn-orange {
  border-radius: 5px;
  color: white;
  background-color: #fe775a;
  padding: 12px 10px;
  border: 1px solid #fe775a;
 }

.cta {
  padding: 23px 35px;
  margin-bottom: 25px;
  position: static;
}

.btn-bordi {
  border: 1px solid #fe775a;
  color: #fe775a;
  border-radius: 5px;
  padding: 12px 10px;
}
/* /bottoni */

/* hover */
.btn-bordi:hover {
  background-color: #ff7a592e;
  transition: .3s ease-in-out;
}

.btn-orange:hover, .cta:hover {
  background-color: #ff7a595c;
  transition: .3s ease-in-out;
}

.lista-menu li a:hover, .sx-lista li a:hover {
  color: #01a4bd;
}
/* /hover */

/* navbar */
.nav-bar {
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

* li, * ul {
  display: inline-block;
  font-weight: 500;
  color: #33475b;
}


.nav-bar-wrapper.centrato {
  position: relative;
}

.nav-bar-wrapper.centrato ul {
  padding: 30px 0;
}

.dx-lista {
  position: absolute;
  right: 0;
}

.dx-lista > li {
  padding-left: 25px;
}

.fas.fa-search {
  color: #01a4bd;
}

.dx-lista > li, .sx-lista > li {
  color: #33475b;
}

.sx-lista li:first-child {
  border-right: 1px solid black;
  padding-right: 15px;
}

.sx-lista li:last-child {
  padding-left: 15px;
}

.sx-lista, .dx-lista {
  display: inline-block;
}
/* /navbar */

/* nav-menu */
.nav-menu {
  background-color: #fff;
}

.nav-menu-wrapper.centrato {
  height: 80px;
  position: relative;
}

#logo {
  vertical-align: middle;
}

img, .lista-menu {
  padding: 25px 0;
}

.lista-menu {
  position: absolute;
  right: 0;
  top: 6px;
  vertical-align: middle;
  color: #33475b;
}

.lista-menu li i, .lista-menu li  {
  padding-left: 20px;
}
/* /nav-menu */

/* hero */
.hero {
  width: 100%;
  height: 659px;
  background-image: url(../img/jumbotron.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fef6ef;
  position: relative;
}

.titolo {
  max-width: 50%;
  padding-top: 60px;
}

.titolo h1 {
  font-size: 50px;
  color: #33475b;
}

.titolo p {
  color: #33475b;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
}

.separatore {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 80px;
  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}

span {
  text-transform: uppercase;
}

.titolo > h1 {
  margin-bottom: 30px;
}
.titolo > p {
  margin-bottom: 52px;
}
.titolo > .titolo-small {
  margin-top: 60px;
}
/* /hero */

/* corpo */
#uno {
  background-color: #f4f9fd;
}

.uno-wrapper.centrato img {
  display: block;
  height: 280px;
  margin: auto;
  padding-top: 45px;
}
.uno-wrapper.centrato h2 {
  color: #33475b;
  font-size: 35px;
  text-align: center;
}
.uno-wrapper.centrato p {
  color: #33475b;
  padding: 37px;
  width: 76%;
  margin: auto;
  text-align: center;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
}

#due {
  background-color: #01a4bc;
}

#tre {
  background-color: #ffffff;
}
/* /corpo */

footer {
  background-color: #32495b;
}
