* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

section {
  width: 100%;
}

a {
  text-decoration:none;
  color: #33475b;
}


/* mix */
.centrato {
  width: 70%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.col-style{
  background: #fff;
  border-radius: .1875rem;
  box-shadow: 0 0 11px #eaf0f6;
  transition: .3s ease-in-out;
}

.fas.fa-angle-down {
  font-size: 20px;
  vertical-align: middle;
}

.fas.fa-check-circle {
  color: #fe775a;
}
/* /mix */

/* bottoni */
.btn-orange {
  border-radius: 5px;
  color: white;
  background-color: #fe775a;
  padding: 12px 10px;
  border: 1px solid #fe775a;
 }

.cta {
  padding: 23px 35px;
  margin-bottom: 25px;
  position: static;
}

.btn-bordi {
  border: 1px solid #fe775a;
  color: #fe775a;
  border-radius: 5px;
  padding: 12px 10px;
}
/* /bottoni */

/* hover */
.btn-bordi:hover {
  background-color: #ff7a592e;
  transition: .3s ease-in-out;
}

.btn-orange:hover, .cta:hover {
  background-color: #ff7a595c;
  transition: .3s ease-in-out;
}

.lista-menu li a:hover, .sx-lista li a:hover {
  color: #01a4bd;
}
/* /hover */

/* navbar */
.nav-bar {
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

* li, * ul {
  display: inline-block;
  font-weight: 500;
  color: #33475b;
}


.nav-bar-wrapper.centrato {
  position: relative;
}

.nav-bar-wrapper.centrato ul {
  padding: 30px 0;
}

.dx-lista {
  position: absolute;
  right: 0;
}

.dx-lista > li {
  padding-left: 25px;
}

.fas.fa-search {
  color: #01a4bd;
}

.dx-lista > li, .sx-lista > li {
  color: #33475b;
}

.sx-lista li:first-child {
  border-right: 1px solid black;
  padding-right: 15px;
}

.sx-lista li:last-child {
  padding-left: 15px;
}

.sx-lista, .dx-lista {
  display: inline-block;
}
/* /navbar */

/* nav-menu */
.nav-menu {
  background-color: #fff;
}

.nav-menu-wrapper.centrato {
  height: 80px;
  position: relative;
}

#logo {
  vertical-align: middle;
}

#logo, .lista-menu {
  padding: 25px 0;
}

.lista-menu {
  position: absolute;
  right: 0;
  top: 6px;
  vertical-align: middle;
  color: #33475b;
}

.lista-menu li i, .lista-menu li  {
  padding-left: 20px;
}
/* /nav-menu */

/* hero */
.hero {
  width: 100%;
  height: 659px;
  background-image: url(../img/jumbotron.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fef6ef;
  position: relative;
}

.titolo {
  max-width: 50%;
  padding-top: 60px;
}

.titolo h1 {
  font-size: 50px;
  color: #33475b;
}

.titolo p {
  color: #33475b;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
}

.separatore {
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 80px;
  background-color: #afebe4;
  border-top: 4px solid #33475b;
  border-bottom: 4px solid #33475b;
}

span {
  text-transform: uppercase;
}

.titolo > h1 {
  margin-bottom: 30px;
}
.titolo > p {
  margin-bottom: 52px;
}
.titolo > .titolo-small {
  margin-top: 60px;
}
/* /hero */

/* corpo */
/* uno */
#uno {
  background-color: #f4f9fd;
  height: 1000px;
}

.uno-wrapper.centrato > img {
  display: block;
  height: 280px;
  margin: auto;
  padding-top: 45px;
}
.uno-wrapper.centrato h2 {
  color: #33475b;
  font-size: 35px;
  text-align: center;
}
.uno-wrapper.centrato > p {
  color: #33475b;
  padding: 37px;
  width: 76%;
  margin: auto;
  text-align: center;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
}

.row1-uno {
  height: 350px;
}

.col1-row1 {
  height: 350px;
  width: 25%;
  padding: 60px 0 60px 50px;
  text-align: center;
  float: left;
}

.col1-row1 > img {
  height: 160px;
  margin-bottom: 30px;
  vertical-align: middle;
}
.btn {
  display: inline-block;
  width: 170px;
  height: 80px;
}

.col2-row1 {
  text-align: left;
  height: 350px;
  width: 75%;
  padding: 60px;
  float: left;
}

.col2-row1 > h3 {
  font-size: 30px;
  vertical-align: middle;
}

.col2-row1 > h4 {
  margin-top: 20px;
  font-size: 20px;
  display: inline-block
}

.col2-row1 > p {
  padding-top: 20px;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
  width: 80%;
}

.col2-row1 > hr {
  border: 1px solid grey;
  display: inline-block;
  width: 70%;
  margin-left: 40px;
  vertical-align: super
}

.col2-row1 ul li i {
  padding-top: 30px;
  margin: 0 15px;

}
.col2-row1 ul li i:first-child {
  margin-left: 0;
}
/* /uno */

/* due */
#due {
  background-color: #01a4bc;
}
/* due */

#tre {
  background-color: #ffffff;
}
/* /corpo */

footer {
  background-color: #32495b;
}
